@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

/* .apresentacao {
    
} */

.apresentacao_conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 12%;
}

.apresentacao_conteudo_titulo {
  font-family: "Oswald", sans-serif;
  font-size: 55px;
  text-align: center;
  padding: 0% 0% 3% 0%;
}

.apresentacao_conteudo_titulo_paragrafo {
    width: 565px;
}

.apresentacao_conteudo_paragrafo {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.apresentacao_conteudo_imagem {
    filter: grayscale(100%);
    border-radius: 5%;
}

.apresentacao_conteudo_paragrafo_2 {
    font-family: "Roboto", sans-serif;
    padding: 3% 19% 5% 18%;
    font-size: 18px;
}

.rodape {
    background-color: #ffffff;
    color: #000000;
    padding: 1.5%;
}